#content .summary span { font-size: 2.875em; color: #1b4aa0; font-weight: 700;display: block; margin: 30px auto 10px; } 
#content .summary p { font-size: 1.5em; font-weight: 500; } 
#content .faq_wrap { width: 1200px; margin: 50px auto 200px; } 
#content .all { position: relative; left: 50%; margin-left: 400px; width: 200px; padding: 20px; border:1px solid #1b4aa0; transition: all .5s ease-in-out; } 
#content .all:hover { background: #1b4aa0; } 
#content .all:hover a { color: #fff; } 
#content .all a { display: block; font-weight: 500; font-size: 1.25em; color: #1b4aa0; } 
#content .info { width: 1200px; margin: 40px auto; text-align: start; padding: 20px;border: 1px solid #1b4aa0; } 

#content .info_tit { position: relative; width: 100%; margin:20px 0 20px 100px; font-size: 1.5em; font-weight: 500; } 
#content .info_tit:hover a { color: #1b4aa0; } 
#content .info_tit::before { content: 'Q'; font-size: 1.25em; display: block; color: #1b4aa0; position: absolute; left: -70px; top:-10px; font-weight: 700; font-family: 'Roboto', sans-serif; } 
#content .info_tit i { position: absolute; right: 100px; } 
#content .info_cont::before { content: 'A'; font-size: 1.5em; color: #666; display: block; left: -60px; position: absolute; } 
#content .info_cont { margin: 30px 0 20px 100px; white-space: pre-line; display: none; width: 1000px; font-size: 1.25em; line-height: 2em; position: relative; } 
#content .faq_wrap li { opacity: 0; } 
#content .faq_wrap li.moved { animation: up 1s ease forwards; } 