body{background:#efefef;}
.logo{margin: 50px auto 30px; display: block; width: 250px;}
.logo img{width: 100%;}
#content{width: 700px; margin: 30px auto; 
    background: #fff; box-shadow: 3px 3px 7px 5px rgba(0,0,0,0.05);
padding: 50px 0; }  
#content h2{ text-align: center; font-size: 1.25rem; margin-bottom: 30px;}
#content form{ width: 80%; margin: 30px auto;}
#content form p{margin-bottom: 10px;}
#content form .id{ display: flex; justify-content:flex-start; align-items: center;} 
#content form .id p{margin-bottom: 0;}
#content form .id span{font-size: 1.25rem; color: #1b4a9f; display: block; margin-left: 20px;}
#content form input, select{width: 100%; padding: 10px; border: 1px solid #eee;}
#content form p span{color:#ff1d1d; font-size: .75rem; display: inline-block; margin-left: 5px;}
#content form li{position: relative; margin-bottom: 30px;}
#content form .phone{display: flex; justify-content: space-between; align-items: center;}
#content form .phone input,#content form .phone select{width: 28%;}
#content form .email{display: flex; justify-content: space-between; align-items: center;}
#content form .email input{ width: 45%;}
#content tr td .notice_txt .fail{color:#ff3a3a; }
#content tr td .notice_txt .success{color:#007dfa; }
#content tr td .notice_txt{ margin: 5px 0 5px 10px; font-size: .75rem;}
#content form #nick a{ padding: 10px 20px; margin-left: 10px; font-size: .75rem;
     display: inline-block; background: #1b4a9f; color: #fff; border-radius: 5px;}
#content form li::after{content: ''; width: 100%; position: absolute; left: 0; bottom: -15px;
    height: 1px; display: block; background: #1b4a9f; }
input:focus, select:focus {outline: none !important; border: 1px solid #1b4a9f;}
#content #button {display: flex; justify-content: space-between; align-items: center;}
#content #button a{display: flex; justify-content: center; align-items: center; 
    width: 48%; padding: 10px;border-radius: 5px; transition: all .5s ease;}
#content #button a:nth-of-type(1){border: 1px solid #1b4a9f; color: #1b4a9f;}
#content #button a:nth-of-type(1):hover{background: #1b4a9f; color: #fff;}
#content #button a:nth-of-type(2){border: 1px solid #666; color: #666;}
#content #button a:nth-of-type(2):hover{background: #666; color: #fff;}