#content .summary { opacity: 0; } 
#content .summary p { font-size: 1.5em; line-height: 2em; white-space: pre-line; font-weight: 500; } 
#content .summary span { color:#1b4aa0; } 
#content .safety01 ul { overflow: hidden; width:1200px; margin:0 auto; padding: 150px 0 50px; } 
#content .safety01 li { width: 500px; margin-bottom: 100px; position: relative; opacity: 0; } 
#content .safety01 li:nth-of-type(odd) { float: left; } 
#content .safety01 li:nth-of-type(even) { float: right; top:150px } 
#content .safety01 li span { font-size: 5em; font-weight: 700; display: block; position:absolute; left:35px; top:-70px; color:rgba(0,0,0,0.0); -webkit-text-stroke: 2px #1b4aa0; z-index: 2; transition: all .5s ease-out; } 
#content .safety01 li:hover span { color:#1b4aa0 } 
#content .safety01 div { width:500px; height:700px; overflow: hidden; box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2); } 
#content .safety01 img { transform: scale(1); transition: all .5s ease-out; } 
#content .safety01 li:hover img { transform: scale(1.05); } 
#content .safety01 dl { text-align: start; } 
#content .safety01 dt { color:#1b4aa0; font-size: 1.75em; font-weight: 700; margin-top: 30px; } 
#content .safety01 dd { margin: 20px 0; white-space: pre-line; font-size: 1.25em; line-height: 1.75em; } 
#content .sign { margin: 50px auto 150px; } 
#content .sign p { white-space: pre-line; display: inline-block; margin-right: 20px; text-align: end; } 
#content .sign img { width:180px; margin: 0 20px; } 
#content .sign span:nth-of-type(1) { font-size: 1.75rem; font-weight: 700; } 
#content .sign span:nth-of-type(2) { font-size: .75em; color: #999; } 
#content .summary.moved { animation: up .5s ease-in-out forwards; } 
#content .safety01 li.moved { animation: up .5s ease-in-out forwards; } 